<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body>
  {% include 2021/navbar.html %}

  <main role="main" class="container">

    {{ content }}

  </main>

  {% include footer.html %}
  {% include js.html %}

</body>

</html>
