---
---
<html>

<head>
  <meta http-equiv="Refresh" content="0; url=/{{site.year}}/">
</head>

<body>
  <p>Accediendo a la web de propuestas de la sala "Desarrollo de videojuegos con Godot" de esLibre 2021...</p>
</body>

</html>
