---
layout: 2021/default
section: proposals
title: Propuestas para sala Desarrollo de videojuegos con Godot de esLibre 2021
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h3 class="main-header display-4" style="font-size: 35px !important;"><strong>Propuestas para sala Desarrollo de videojuegos con Godot de es<span class="red">Libre</span> 2021</strong></h3>
  </div>
</div>
<hr class="my-4">

<p>
  Una sala informal para aprender más del motor de desarrollo de videojuegos libre Godot y hacer piña con gente interesada en el desarrollo de videojuegos con software libre. Puedes encontrar la información sobre la misma en la <a
    href="https://propuestas.eslib.re/2021/salas/desarrollo-videojuegos-godot" target="_blank">página de su propuesta</a>.
</p>

<p>
  Finalmente vamos a tener las siguientes propuestas:
<ul>
  <li>Charlas:
    <ul id="list">
      {% for talk in site.pages %}
      {% if talk.path contains '2021/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
      {% unless talk.path contains 'canceladas' %}
      <li><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a>
        {% endunless %}
        {% endif %}
        {% endfor %}
    </ul>
  </li><br>
  <li>Talleres:
    <ul id="list">
      {% for workshop in site.pages %}
      {% if workshop.path contains '2021/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
      {% unless workshop.path contains 'cancelados' %}
      <li><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a>
        {% endunless %}
        {% endif %}
        {% endfor %}
    </ul>
  </li>
</ul>
</p>
<p style="padding-bottom: 3em"></p>
