---
layout: 2021/list
section: proposals
permalink: /2021/otras/
title: Otras actividades aceptados para 'Desarrollo de videojuegos con Godot'
---

<ul id="list">
  {% for other in site.pages %}
  {% if other.path contains '2021/otras' and other.path contains '.md' and other.category == 'others' %}
  {% unless other.path contains 'cancelados' %}
  <li><a href="/{{ other.path | remove_first: ".md" }}">{{ other.author }} - {{ other.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
<p style="padding-bottom: 16.5em"></p>
